/*Hero*/
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero__title {
    margin: 0 auto 30px;
    width: 696px;
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__pointer {
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    border: 1px transparent;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: $accent-color;

&:hover,
&:focus {
    cursor: pointer;
    background-color: $accent-color;
    color: $primary-bg-color;
}
}
.hero__button-text {
    color: $primary-bg-color;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $timinng,
        transform 250ms $timinng,
        visibility 250ms $timinng;

}

.modal {
    position: fixed;
    padding: 40px;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
        0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    background-color: $primary-bg-color;


.modal__button {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-bg-color;
}

.modal__svg {
    display: block;
    position: absolute;
    margin: auto;
    top: 2px;
    bottom: 0;
    right: 1px;
    left: 1px;
    transition: 250ms $timinng;


&:hover {
    cursor: pointer;
    fill: #2196f3;
    }
}
}

/*-----Форма в модальном окне*/
.form__data {
    position: relative;
}
.modal__heading {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
}

.form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
}

.form__name {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

.form__field {
    position: relative;
    width: 450px;
    height: 40px;
    padding: 11px;
    padding-left: 47px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    transition: border 250ms $timinng;


    &:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
}
}
.form__field:focus~.form__icon {
    fill: $accent-color;
    cursor: pointer;
}

.form__field-area {
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    width: 450px;
    height: 95px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    transition: border 250ms $timinng;


&:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
}
}
.form__icon {
    position: absolute;
    transform: translateX(200%);
    left: -9px;
    bottom: 20%;
    fill: $title-text-color;
    transition: fill 250ms $timinng;
}
.form__total {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__checkbox {
    margin-bottom: 30px;
    margin-top: 10px;
}
.form__checkbox-field {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.form__fake {
    display: inline-flex;
    width: 16px;
    height: 15px;
    background-color: transparent;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms $timinng;
    fill: $primary-bg-color;
    cursor: pointer;
}
.form__fake>.lol {
    opacity: 0;
    transition: opacity 250ms $timinng;
}
.form__checkbox-field:checked+.form__fake {
    background-color: #2196f3;
    border: 1px transparent;
}
.form__checkbox-field:checked+.form__fake>.form__fake-icon {
    opacity: 1;
}
.form__fake-icon {
    fill: $primary-bg-color;
}
.form__text-agreements {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
.form__text-terms {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;
    text-decoration-line: underline;
    color: $accent-color;
}
.form__button {
        border-radius: 4px;
        max-width: 200px;
        width: 200px;
        padding: 10px 28px;
        border: 1px transparent;
        font-weight: 700;
        font-size: 16px;
        font-family: inherit;
        line-height: 1.88;
        letter-spacing: 0.06em;
        background-color: $accent-color;
        color: #fff;
}

/*преймущества компании*/
.benefits {
    display: flex;

.benefits__item {
    width: 270px;
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__item::before {
    display: block;
    height: 120px;
    content: "";
    background-color: $primary-button-color;
    background-repeat: no-repeat;
    background-position: center;
}
.benefits__title {
    color: $title-text-color;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.benefits__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}
}
.benefits__item--attention::before {
    background-image: url(../images/antenna.svg);
}
.benefits__item--punctuality::before {
    background-image: url(../images/clock.svg);
}
.benefits__item--plan::before {
    background-image: url(../images/diagram.svg);
}
.benefits__item--technology::before {
    background-image: url(../images/astronaut.svg);
}

/*оформление feature*/
.activ {
    padding-bottom: 94px;
    padding-top: 0;
}
.title-work {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.activity {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -30px;


.activity__item {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
}

.activity:not(:last-child) {
    margin-bottom: 0;
}

.activity__picture {
    position: relative;
    z-index: -1;
}

.activity__center {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.activity__text {
    margin-top: 27px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-bg-color;
}
}

/*оформление team*/
.team-staff {
    padding-bottom: 94px;
    background-color: $primary-button-color;
}
.title-team {
    margin-bottom: 50px;
    margin-top: 0;
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.staff {
    display: flex;
    flex-wrap: wrap;
}
.person {
    width: 270px;
    height: auto;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;  
} 
.person:nth-child(4n) {
    margin-right: 0;
}
.person:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

.human {
    padding-top: 30px;
    background-color: $primary-bg-color;
}
.title-name {
    margin-bottom: 0;
    margin-top: 0;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.job-title {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
/*Оформление соц сетей*/
.sociality {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: 250ms $timinng;
}
&__icon {
    fill: $icon-color;
}
&__link:hover,
&__link:focus {
    background-color: $accent-color;
}
&__link:hover &__icon,
&__link:focus &__icon {
    fill: $primary-bg-color;
}
&__network:not(:last-child) {
    margin-right: 10px;
}
}

/*оформление секции клиентов*/
.title-client {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.clients {
    display: flex;
    justify-content: center;
    align-items: center;

&__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: $icon-color;
    border: 1px solid $border--color--clients;
    border-radius: 4px;
    transition: border 250ms timinng,
        fill 250ms timinng;

&:hover {
    border: 1px solid $accent-color;
    fill: $accent-color;

}
}
&__images:not(:last-child) {
    margin-right: 30px;
}
}
